Package: pika-backup
Version: 0.7.4
Architecture: amd64
Maintainer: albilu <albilu@github.com>
Depends: libgtk-4-1 (>= 4.12.5), libadwaita-1-0 (>= 1.4.0), libc6, borgbackup
Section: utils
Priority: optional
Homepage: https://github.com/albilu/pika-backup
Description: Keep your data safe
 Pika Backup is a backup utility designed for the GNOME desktop environment.
 .
 Repository: https://gitlab.gnome.org/World/pika-backup
